body {
    align-items: center;
    align-content: center;
    text-align: center;
<<<<<<< HEAD
}
=======
    background-image: url(./dark_purple_matrix_4k_hd_dark_purple-3840x2160.jpg);
    color: chartreuse;
}
h1 {
    padding: 5px;
    margin: 5px;
    border: 2px solid chartreuse
}
>>>>>>> dev
